// impoort

// 例1
@import "./partial";

a {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
  color: $primary_color;
}


// 例2
// 嵌套导入
// sass允许@import命令写在css规则内，这种导入方式下，生成对应的css文件时，局部文件会被直接插入到css规则内导入它的地方
.blue-theme{
  // 局部文件导入到一个CSS规则内
  @import "./blue-theme";
}

// 例3
@import "./reset";
body{
  font: 100% Helvetiaca,sans-serif;
  background-color: red;
}

// 被导入的局部文件中定义的所有变量和混合器，也会在这个规则范围内生效
// 这些变量和混合器不会全局有效，这样我们就可以通过嵌套导入只对站点中某一特定区域运用某种颜色主题或其他通过变量配置的样式

