.head{
  color: red;
}

.content {
  background-color: #ffffff;
  margin-top: 30px;
  padding: 29px;
  position: relative;
  box-shadow: 2px 2px 3px #888888;

  a {
    color: #b6aeff;
  }

  span{
    font-size: 10px;
  }
}