/*spacing-间距和布局*/
table {
    /*table-layout: fixed;*/
    width: 100%;
    border: 3px solid purple;
    border-collapse:collapse;
}

thead th:nth-child(1) {
    width: 30%;
}

thead th:nth-child(2) {
    width: 20%;
}

thead th:nth-child(3) {
    width: 15%;
}

thead th:nth-child(4) {
    width: 35%;
}
/*在<th>和<td>元素上设置了一些padding——这些元素使数据项有了一些空间，使表看起来更加清晰。*/
th,td {
    padding: 20px;
}



/* typography-排版 */
html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif; /*设置了一个全局无衬线字体*/
}

thead th,tfoot th {
    font-family: 'Rock Salt', cursive; /*在<thead>和<tfoot>元素的标题上设置了自定义字体，这是一种很不错的、很有朋克风格的外观。*/
}

/*在标题和单元格上设置了一些letter-spacing:文字的间距*/
th {
    letter-spacing: 2px;
}
td {
    letter-spacing: 1px;
}
/*默认情况下，单元格被赋予了一个text-align的left值，并且标题被赋予了一个center值，但是通常情况下，让两者对齐看起来更好。*/
/*在<tbody>中的表格单元中对文本进行了居中对齐，使它们与标题对齐*/
tbody td {
    text-align: center;
}
tfoot th {
    text-align: right;
}

/*图形和颜色*/
thead,tfoot {
    background: url(leopardskin.jpg); 
    color: white;  /*上面加了背景图片后字体不明显了-->设置成白色*/
    text-shadow: 1px 1px 1px black;
}
thead th,tfoot th,tfoot td {
    background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));  /*渐变：从上到下越来越不透明*/
    border: 3px solid purple;
}

/*斑马条纹图案*/

/*给奇数行和偶数行不同的(醒目的)颜色*/
/*奇数行*/
tbody tr:nth-child(odd) {
    background-color: #ff33cc;
}
/*偶数行*/
tbody tr:nth-child(even) {
    background-color:  #e495e4;
}
/*为所有的行添加了一个重复的噪点背景色块（一个半透明的.png，有一点视觉上的扭曲）来提供一些纹理。*/
tbody tr{
    background: url(noise.png);
}
/*最后，给整个表格提供了一个纯的背景颜色，这样浏览器不支持:nth-child选择器的话仍然有它们的正文行的背景。*/
table {
    background-color: #ff33cc;
}

/*样式化标题*/
caption {
    font-family: 'Rock Salt', cursive;
    padding: 20px;
    font-style: italic;
    caption-side: bottom; /*标题放表格底部*/
    text-align: right;    /*标题放表格底部右边*/
    color:#666;         /*标题字体颜色*/
    letter-spacing: 1px;  /*标题字之间的间距*/
}